<!DOCTYPE html>
<html lang="en">
  
<!-- Mirrored from demo.bootstrapdash.com/purple-admin-free/pages/tables/basic-table.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Dec 2023 06:57:49 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Order Details </title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/admin/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/kiona-logo.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="/admin/home"><img class="h-50" src="/kiona-high-resolution-logo-transparent.png" alt="logo" /></a>        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <div class="search-field d-none d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input type="text" class="form-control" placeholder="Search User name,email" name="search">
                <button type="submit" class="btn btn-inverse-dark btn-fw">Search</button>
              </div>
            </form>
          </div>
          <ul class="navbar-nav navbar-nav-right">
            
            <li class="nav-item nav-logout d-none d-lg-block">
              <a class="nav-link" href="/admin/logout">
                <i class="mdi mdi-power"></i>
              </a>
            </li>
            
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="mt-4">
            <a class="nav-link" href="/admin/home">
              <button type="button" class="btn btn-inverse-dark btn-rounded w-100">Dashboard <i
                  class="mdi mdi-home menu-icon"></i>
              </button>
            </a>
          </li>
          <li>
            <a class="nav-link" href="/admin/users">
              <button type="button" class="btn btn-inverse-dark btn-rounded w-100">User <i
                  class="mdi mdi-contacts menu-icon"></i>
              </button>
            </a>
          </li>

          <li>
            <a class="nav-link" href="/admin/product">
              <button type="button" class="btn btn-inverse-dark btn-rounded w-100">Products <i
                  class="mdi mdi-tshirt-crew "></i> </button>
            </a>
          </li>
          <li>
            <a class="nav-link" href="/admin/category">
              <button type="button" class="btn btn-inverse-dark btn-rounded w-100">Category <i
                  class="mdi mdi-cards"></i> </button>
            </a>
          </li>
          <li>
            <a class="nav-link" href="/admin/order">
              <button type="button" class="btn btn-gradient-dark btn-rounded w-100">Order <i class="mdi mdi-shopping"></i> </button>
            </a>
          </li>
          <li>
            <a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false"
              aria-controls="general-pages">
              <button type="button" class="btn btn-inverse-dark btn-rounded w-100 ">Offer <i class="mdi mdi-percent"></i>
              </button>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="general-pages">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/categoryOffers"> Category Offers </a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/productOffers"> Product Offers </a></li>
                <!-- <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li> -->
              </ul>
            </div>
          </li>
          <li>
            <a class="nav-link" href="/admin/couponOffers">
              <button type="button" class="btn btn-inverse-dark btn-rounded w-100 ">Coupons <i
                class="mdi mdi-ticket"></i> </button>
            </a>
          </li>
          <li>
            <a class="nav-link" href="pages/tables/basic-table.html">
              <button type="button" class="btn btn-inverse-dark btn-rounded w-100 ">Sales <i class="mdi mdi-sale"></i> </button>
            </a>
          </li>
          <li>
            <a class="nav-link" href="pages/tables/basic-table.html">
              <button type="button" class="btn btn-inverse-dark btn-rounded w-100 ">Banner <i
                  class="mdi mdi-clipboard-outline"></i> </button>
            </a>
          </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">  Ordered Details </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href=''> Ordered Details </a></li>
                  <li class="breadcrumb-item active" aria-current="page"> Ordered Details </li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title"> Ordered Date </h4>
                    <p class="card-description" > <i class="mdi mdi-calendar-clock" style="font-size: 24px;"></i> <%= order.orderDate.toDateString() %> <code><%= order.orderDate.toLocaleTimeString() %> </code></p>

                    <div class="template-demo pt-4">
                        <h4> Order Id :  </h4>
                        <p class="pt-2" style="font-size: 14px; "> <strong> <%= order._id %> </strong></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-7">
                        <h4 class="card-title"> Delivery Address </h4>
                        <p class="card-description">  <%= order?.address?.name %> <code> <%= order?.address?.addressType %> </code> </p>
                        <div class="template-demo d-flex justify-content-between flex-nowrap">
                            <p class="card-description">  <%= order?.address?.locality %>,<%= order?.address?.address %>,<%= order?.address?.city %>, <%= order?.address?.state %> - <%= order?.address?.pincode %>  </p>
                        </div>
                        <div class="template-demo d-flex justify-content-between flex-nowrap">
                            <p class="card-description"> Mobile No: <%= order?.address?.mobile %></p>
                        </div>
                        <div class="template-demo d-flex justify-content-between flex-nowrap mt-4">
                          
                        </div>
                        <div class="template-demo d-flex justify-content-between flex-nowrap">
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title"> Ordered Details </h4>
                    <p class="card-description"> <code> Kiona Ordered Details </code>
                    </p>
                    <div style="overflow-x: auto;">

                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th> Sl.No </th>
                            <th> Product </th>
                            <th> product Price </th>
                            <th> Quantity </th>
                            <th> Total </th>
                            <th> Reason </th>
                            <th> Status </th>
                            <th> Payment Status </th>
                            <th> Manage </th>
                          </tr>
                        </thead>
                        <tbody>
                      
                          <% for(let i=0 ; i<order.orderItems.length ; i++){ %>

                              <tr>
                                  <td><%= i+1 %></td>
                                <td class="py-1">
                                  <img src="/Photos/product/<%= order.orderItems[i].image[0] %>" alt="image"/> <span> <%= order.orderItems[i].productName %> </span>
                                </td>
                                <td>
                                  <% if(order.orderItems[i].offerPrice){ %>
                                    <span> Rs: <%= order.orderItems[i].offerPrice %>  </span> <span style="color: green;"><%= order.orderItems[i].offer %>%</span> </code><br>
                                    <%= order?.orderItems[i]?.productPrice %>
                                  <% }else{ %>
                                    Rs: <%= order?.orderItems[i]?.productPrice %>
                                  <% } %>
                                </td>
                                <td> <%= order?.orderItems[i]?.cartQuantity %> </td>
                                <td> Rs <%= order?.orderItems[i]?.totalPrice %> </td>

                                <td>
                                <% if(order?.orderItems[i]?.orderStatus === "Cancelled"){ %>
                                  <code><%= order?.orderItems[i]?.cancelReason %></code>
                                <% } else if ( order?.orderItems[i]?.orderStatus === "Returned" ) { %>
                                  <code><%= order?.orderItems[i]?.returnReason %></code>

                                <% } %>
                                </td>
                                
                                <td>

                                  <% if( order?.orderItems[i]?.orderStatus === "Ordered" ){ %>
                                    <label class="badge badge-warning"> Ordered </label>
                                  <% } else if( order?.orderItems[i]?.orderStatus === "Shipped" ) { %>
                                    <label class="badge badge-info"> Shipped </label>
                                  <% } else if( order?.orderItems[i]?.orderStatus === "Delivered" ) { %>
                                    <label class="badge badge-success"> Delivered </label>
                                  <% } else if( order?.orderItems[i]?.orderStatus === "Cancelled" ) { %>
                                    <label class="badge badge-danger"> Cancelled </label>
                                  <% } else if( order?.orderItems[i]?.orderStatus === "Returned" ) { %>
                                    <label class="badge badge-dark"> Returned </label>
                                  <% } %> %>
                                  
                                </td>
                                <td>
                                  <% if(order.paymentMethod === "Online Payment"){ %>
                                    <span style="color: green;"><%= order.paymentStatus %></span>
                                <% } else if(order.orderItems[i].paymentStatus === "Refund Completed"){ %>
                                    <span style="color: orange;"><%= order.orderItems[i].paymentStatus %></span>
                                <% } else if(order.orderItems[i].paymentStatus === "Pending"){ %>
                                    <span style="color: red;"><%= order.orderItems[i].paymentStatus %></span>
                                <% } else { %>
                                  <span style="color: green;"><%= order.orderItems[i].paymentStatus %></span>
                                <% } %>
                                
                                  
                                <td>

                                <% if(order.orderItems[i].orderStatus === 'Ordered' || order.orderItems[i].orderStatus === 'Shipped' ){ %>
                                  
                                  <div class="size-204 respon6-next">
                                  <div class="rs1-select2 bor8 bg0 dropdown">
                                    <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                                        Status
                                    </button>
                                    <div class="dropdown-menu">
                                      <button onclick="status('<%= order.orderItems[i]._id %>','Ordered')" class="dropdown-item">Ordered</button>
                                      <button onclick="status('<%= order.orderItems[i]._id %>','Shipped')" class="dropdown-item">Shipped</button>
                                      <button onclick="status('<%= order.orderItems[i]._id %>','Delivered')" class="dropdown-item">Delivered</button>
                                      <button onclick="status('<%= order.orderItems[i]._id %>','Cancelled')" class="dropdown-item">Cancelled</button>
                                    </div>
                                  </div>
                                </div>
                                
                                <% } %>


                                <!-- <% if(order.orderItems[i].orderStatus === 'Returned'){ %>
                                  
                                  <div class="size-204 respon6-next">
                                  <div class="rs1-select2 bor8 bg0 dropdown">
                                    <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                                        Status
                                    </button>
                                    <div class="dropdown-menu">
                                      <button onclick="status('<%= order.orderItems[i]._id %>','Payment Pending')" class="dropdown-item">Pending</button>
                                      <button onclick="status('<%= order.orderItems[i]._id %>','Refund Completed')" class="dropdown-item">Refund Completed</button>
                                    </div>
                                  </div>
                                </div>
                                
                                <% } %>
                                  -->
                              </td>
                              </tr>

                          <% } %>
                        
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">kiona © kiona.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">  <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">kiona admin</a>  kiona.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../admin/js/off-canvas.js"></script>
    <script src="../../admin/js/hoverable-collapse.js"></script>
    <script src="../../admin/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        async function status(orderItemId,value) {
            try {
                const response = await axios.post('/admin/orderDetails/updateStatus', { id:orderItemId, value });
                if(response){
                  window.location.reload();
                }
            } catch (error) {
                console.log(error.message);
            }
        }
    </script>



  </body>

<!-- Mirrored from demo.bootstrapdash.com/purple-admin-free/pages/tables/basic-table.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Dec 2023 06:57:49 GMT -->
</html>