<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/kiona-logo.png" />

    <title>Kiona</title>

    <!-- Bootstrap 4 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="http://localhost:8000/css/userProfile.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/userProfile.css">
</head>

<body>
    <div class="top-bar">
        <div class="content-topbar flex-sb-m h-full container">
            <div class="left-top-bar">
                KIONA
            </div>
            <div class="right-top-bar flex-w h-full">
                <a href="#" class="flex-c-m trans-04 p-lr-25">
                    Help & FAQs
                </a>
                <% if(user){ %>
                <a href="/" class="flex-c-m trans-04 p-lr-25">Home</a>
                <a href="/userProfile" class="flex-c-m trans-04 p-lr-25">My Account</a>
                <a href="/logout" class="flex-c-m trans-04 p-lr-25">Logout</a>
                <% } else { %>
                <a href="/login" class="flex-c-m trans-04 p-lr-25">Login</a>
                <a href="/register" class="flex-c-m trans-04 p-lr-25">Sign Up</a>
                <% } %>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="main-body">
            <div class="bg0 p-t-40 p-b-85">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <img src="/Photos/userImages/<%= user.image %>" alt=""
                                            class="rounded-circle p-1 bg-primary" width="110">
                                        <div class="mt-3">
                                            <h4><%= user.name %></h4>
                                        </div>
                                    </div>
                                    <hr class="my-4">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                                            style="width: 310px;">
                                            <a href="/userProfile"> <button type="button" class="btn btn-outline-dark"
                                                    style="width: 280px;">User Profile</button> </a>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                                            style="width: 310px;">
                                            <a href="/changePassword"> <button type="button" class="btn btn-outline-dark"
                                                    style="width: 280px;">Change Password</button> </a>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                                            style="width: 310px;">
                                            <a href="/address"> <button type="button" class="btn btn-outline-dark"
                                                    style="width: 280px;">Address Management</button> </a>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                                            style="width: 310px;">
                                            <a href="/order"> <button type="button" class="btn btn-dark"
                                                    style="width: 280px;">Order</button> </a>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                                            style="width: 310px;">
                                            <a href="/wishlist"> <button type="button" class="btn btn-outline-dark"
                                                    style="width: 280px;">Wishlist</button> </a>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap" style="width: 310px;">
                                            <a href="/wallet"> <button type="button" class="btn btn-outline-dark" style="width: 280px;">Wallet</button> </a>
                                        </li>
    
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="wrap-table-shopping-cart">
                                <table class="table-shopping-cart">
                                    <thead>
                                        <!-- <tr>
                                            <th class="column-1"></th>
                                            <th></th>
                                            <th class="column-2"></th>
                                            <th class="column-3"></th>
                                            <th class="column-4"></th>
                                            <th class="column-5"></th>
                                        </tr> -->
                                    </thead>
                                    <tbody>
                                        <% if (order.length === 0) { %>
                                        <tr>
                                            <td colspan="7" class="text-center"><img style="width: 500px; height: 450px;"
                                                    src="/empty order.png" alt=""></td>
                                        </tr>
                                        <% } else { %>
                                        <% order.forEach(orderItem => { %>
                                        <% if (orderItem.orderItems.length === 0) { %>
                                        <tr>
                                            <td colspan="7" class="text-center">No items in this order.</td>
                                        </tr>
                                        <% } else { %>
                                        <% orderItem.orderItems.forEach(item => { %>
                                        <tr class="table_row">
                                            <td class="column-1">
                                                <% if (item.image && item.image.length > 0) { %>
                                                    <div class="how-itemcart1">
                                                        <img src="/Photos/product/<%= item.image[0] %>" alt="<%= item.productName %>" style="max-width: 100px; max-height: 80px;">
                                                    </div>
                                                <% } %>
                                            </td>
                                            <td class="column-2">
                                                <% if(item.offer){ %>
                                                    <%= item.productName %>
                                                    <span style="color: green; font-weight: bold; font-size: 16px;"> <%= item.offer %>% </span><br>
                                                <% }else{ %>
                                                    <%= item.productName %><br>
                                                <% } %>

                                                <% if(item.offerPrice){ %>
                                                    Rs: <%= item.offerPrice %>
                                                    <strike> <%= item.productPrice %> </strike>
                                                <% }else{ %>
                                                    <%= item.productPrice %>
                                                <% } %>

                                            </td>
                                            <!-- <td class="column-3 pb-5 text-danger">Rs<%= item.totalPrice %></td> -->
                                            <td>
                                                <%= orderItem.paymentMethod %>
                                                <% if(orderItem.paymentMethod == "Online Payment"){ %>
                                                    <% if( orderItem.paymentStatus == "Payment Completed" ){ %>
                                                        <p class="text-success small mb-0"> <%= orderItem.paymentStatus %> </p>
                                                    <% }else if(item.paymentStatus == "Payment Completed") { %>
                                                        <p class="text-success small mb-0" ><%= item.paymentStatus %></p>
                                                    <% }else{ %>
                                                        <div style="display: flex; align-items: center;">
                                                            <p class="text-danger small mb-0" style="margin-right: 10px;"><%= item.paymentStatus %></p>
                                                            <button type="button" style="background-color: green; border: none; color: white; padding: 4px 6px; text-align: center; text-decoration: none; display: inline-block; font-size: 7px; margin: 4px 2px; cursor: pointer; border-radius: 5px;" onclick="payment( '<%= orderItem._id %>' ,'<%= item._id %>', '<%= item.totalPrice %>')" >Try Again</button>
                                                        </div>
                                                    <% } %>
                                                <% }else if(orderItem.paymentMethod == "Wallet") { %>
                                                    <% if(orderItem.paymentStatus == "Payment Completed"){ %>
                                                        <p class="text-success small mb-0"> <%= orderItem.paymentStatus %> </p>
                                                    <% }else if(item.paymentStatus == "Payment Completed"){ %>
                                                        <p class="text-success small mb-0" ><%= item.paymentStatus %></p>
                                                    <% } %>

                                                <% }else{ %>
                                                    <% if (item.orderStatus === "Ordered") { %>
                                                        <p class="text-danger small mb-0"><%= item.paymentStatus %></p>
                                                    <% } else if (item.orderStatus === "Shipped") { %>
                                                        <p class="text-danger small mb-0"><%= item.paymentStatus %></p>
                                                    <% } else if (item.orderStatus === "Delivered") { %>
                                                        <p class="text-success small mb-0"><%= item.paymentStatus %></p>
                                                    <% } else if (item.orderStatus === "Cancelled") { %>
                                                        <p class="text-danger small mb-0"><%= item.paymentStatus %></p>
                                                    <% } else if (item.orderStatus === "Returned") { %>
                                                        <p class="small mb-0" style="color: orange;"><%= item.paymentStatus %></p>
                                                    <% } %>
                                                 <% } %>
                                            </td>
                                            <td class="column-4">
                                                <div class="d-flex justify-content-between align-items-end flex-column">
                                                    <% if (item.orderStatus === "Ordered") { %>
                                                    <label class="badge bg-dark p-2 text-white mb-1 mr-4"><%= item.orderStatus %></label>
                                                    <% } else if (item.orderStatus === "Shipped") { %>
                                                    <label class="badge bg-info p-2 text-white mb-1 mr-4"><%= item.orderStatus %></label>
                                                    <% } else if (item.orderStatus === "Delivered") { %>
                                                    <label class="badge bg-success p-2 text-white mb-1 mr-4"><%= item.orderStatus %></label>
                                                    <% } else if (item.orderStatus === "Cancelled") { %>
                                                    <label class="badge bg-danger p-2 text-white mb-1 mr-4"><%= item.orderStatus %></label>
                                                    <% } else if (item.orderStatus === "Returned") { %>
                                                    <label class="badge bg-warning p-2 text-white mb-1 mr-4"><%= item.orderStatus %></label>
                                                    <% } %>
                                                </div>
                                            </td>
                                            <td class="pr-5"><button class="btn btn-success" onclick="details('<%= item._id %>')">Details</button></td>
                                        </tr>
                                        <% }); %>
                                        <% } %>
                                        <% }); %>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap 5 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap 4 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Other scripts -->
    <script src="http://localhost:8000/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    	<!-- razor pay cdn -->
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
        async function details(orderId) {
            window.location.href = `/orderDetails?id=${orderId}`
        }

        async function payment(orderId, itemId, totalPrice){
            console.log(orderId,'itd order id');
            console.log(itemId,'its item id');
            const confirmation = await Swal.fire({
                title: 'Confirm Payment',
                text: "Are you sure you want to proceed with Cash On Delivery?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, proceed!'
            });
            if (confirmation.isConfirmed) {
                try {
                    const response = await axios.post('/retryPayment', { orderId, itemId, totalPrice })

                    const { totalAmount, orderedId, key_id, razorpayOrderId, ItemId } = response.data
                    console.log(totalAmount,'ith nthan');
                    if(response.data.success){
						var options = {
							"key": key_id,
							"amount": totalAmount * 100 ,
							"currency": "INR",
							"name": "KIONA",
							"order_id":"",
							"description": "Order Payment",
							"image": "https://example.com/your_logo",

							"handler":function (response){
								console.log('Razorpay payment success', response);
								verifyPayment(response.razorpay_payment_id, orderedId, ItemId);
							},
							"prefill": {
								"name": "Customer Name",
								"email": "customer_email@example.com",
								"contact": "customer_phone"
							},
							"notes": {
								"address": "Razorpay Corporate Office"
							},
							"theme": {
								"color": "#192e68"
							}
						};
						var paymentGateway = new Razorpay(options);
						paymentGateway.open();
					}else{
						Swal.fire({
							icon: 'error',
							title: 'Failed!',
							text: response.data.message || 'Unable to process the order.'
						}).then(()=>{
							window.location.href = "/order"
						})
					}
                } catch (error) {
                    console.log(error.message);
                    await Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Something went wrong!'
                    });
                }
            }
        }

        //verify payment
        async function verifyPayment(paymentId, orderId, itemId) {
		try {
			const response = await axios.post('/reVerification', { paymentId, orderId, itemId });
			if (response.data.success) {
				Swal.fire({
					title: "Order Placed",
					text: response.data.message,
					icon: "success"
				}).then(() => {
					window.location.href = '/order';
				});
			}
		} catch (error) {
			console.log(error.message);
			Swal.fire({
				icon: 'error',
				title: 'Error',
				text: 'Something went wrong!'
			});
		}
	}


    </script>
</body>

</html>
